<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="container">
            <div class="row mt-3">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-right">
                    <form class="form-inline float-right">
                        <label for="mySelect">{{translation.Select_Language}}:</label>
                        <select name="mySelect" id="mySelect" class="form-control" ng-model="selectedLanguage"
                            ng-change="translate()">
                            <option value="en">English</option>
                            <option value="vn">Tiếng Việt</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <h1>{{translation.UPDATE_SONG}}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form class="was-validated">
                        <input type="hidden" ng-model="song.id">
                        <div class="form-group">
                            <label for="uname">{{translation.Name}}:</label>
                            <input type="text" class="form-control" id="uname" ng-init="song.name" ng-model="song.name"
                                name="sname">
                        </div>

                        <div class="form-group">
                            <label for="genre">{{translation.Genre}}:</label>
                            <input type="text" class="form-control" id="genre" ng-init="song.genre"
                                ng-model="song.genre" name="sgene">
                        </div>

                        <div class="form-group">
                            <label for="lyrics">{{translation.Lyrics}}:</label>
                            <textarea rows="6" type="text" class="form-control" id="lyrics" ng-init="song.lyrics"
                                ng-model="song.lyrics"></textarea>
                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember"
                                    ng-init="checked = false" ng-model="checked"> {{translation.I_agree_to_update}}.
                            </label>
                        </div>

                        <div class="float-right">
                            <button type="submit" class="btn btn-dark"
                                ng-click="cancel()">{{translation.Cancel}}</button>
                            <button type="submit" class="btn btn-primary"
                                ng-click="updateSong(song, $event)">{{translation.Submit}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>