<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="container">
            <div class="row mt-5">
                <div class="col-sm text-center">
                    <h1>UPDATE SONG</h1>
                </div>
            </div>

            <div class="row ">
                <div class="col-sm">
                    <form class="was-validated">
                        <input type="hidden" ng-model="song.id">
                        <div class="form-group">
                            <label for="uname">Name:</label>
                            <input type="text" class="form-control" id="uname" ng-init="song.name" ng-model="song.name"
                                name="sname" required>
                        </div>

                        <div class="form-group">
                            <label for="genre">Genre:</label>
                            <input type="text" class="form-control" id="genre" ng-init="song.genre"
                                ng-model="song.genre" name="sgene" required>
                        </div>

                        <div class="form-group">
                                <label for="lyrics">Lyrics:</label>
                                <textarea rows="6" type="text" class="form-control" id="lyrics" ng-init="song.lyrics"
                                    ng-model="song.lyrics" required></textarea>
                            </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember" required> I agree to update.
                            </label>
                        </div>
                        
                        <div class="float-right">
                            <button type="submit" class="btn btn-dark" ng-click="cancel()">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-click="updateSong(song)">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>