.maindiv {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-animation {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.index-change {
    z-index: 1200;
}