.maindiv {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-animation {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 1.5rem;
}

.mt-3{
  margin-top: 2rem;
}
.mt-4{
  margin-top: 2.5rem;
}
.mt-5{
  margin-top: 3rem;
}

.float-right{
  float: right;
}