<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
</head>

<body>
	<div class="container">
		<div class="row mt-3">
			<div class="col text-center">
				<h1>Music Manager System</h1>
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<button class="btn" ng-click="goHomeClone()" >
							<md-tooltip md-direction='top'>Go to Clone Home</md-tooltip>
							<i class="fas fa-home"></i>
						</button>
				<button class="btn btn-info" data-toggle="modal" data-target="#myAdd">
					<md-tooltip md-direction='top'>Add Music</md-tooltip>
					<i class="fas fa-plus"></i>
				</button>
				<add-form id-modal="myAdd"></add-form>
				<button class="btn btn-warning" ng-click="deleteMulSong($event)">
					<md-tooltip md-direction='top'>Delete Song</md-tooltip>
					<i class="far fa-trash-alt"></i>
				</button>
				<button class="btn btn-danger" ng-click="deleteAllSong($event)">
					<md-tooltip md-direction='top'>Delete All Song</md-tooltip>
					<i class="fas fa-trash"></i>
				</button>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<form class="form-inline float-right">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fas fa-search"></i></div>
							<input type="text" class="form-control" placeholder="Search" ng-model="search">
							<md-tooltip md-direction='top'>Search Song</md-tooltip>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive-sm" ng-init="load()">
				<table class="table table-striped table-bordered table">
					<tbody>
						<tr class="d-flex">
							<th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
							<th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Name</th>
							<th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Genre</th>
							<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Action</th>
						</tr>

						<!-- <tr class="d-flex" ng-repeat="x in myData.slice(((curPage-1)*itemsPerPage), ((curPage)*itemsPerPage)) | filter: search"> -->
								<tr class="d-flex"
								ng-repeat="x in myData | filter: search |  orderBy:'-id' | limitTo: itemsPerPage : (curPage-1) * itemsPerPage">
							<td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
								<md-tooltip md-direction='left'>Select
									Song</md-tooltip><input type="checkbox" class="checkboxSong"
									ng-change="isCheckbox()" ng-model='x.checked' value="{{x.id}}">
							</td>
							<!--ng-click="isChecked($event)"-->
							<td>{{x.name}}</td>
							<td>{{x.genre}}</td>
							<td>
								<button type="submit" class="btn btn-success" ng-click="play(x.id)" data-toggle="modal"
									data-target="#myPlay">
									<i class="fas fa-play-circle"></i>
									<md-tooltip md-direction='top'>Play Song</md-tooltip>
								</button>
								<button type="submit" class="btn btn-info" ui-sref="edit({song:x, status:'home'})" ui-sref-active="active">
<!-- 								 ng-click="edit(x)"> -->
										<i class="fas fa-pen"></i>
									<md-tooltip md-direction='top'>Edit Song</md-tooltip>
								</button>
								<button class="btn btn-danger" ng-click="deleteSongByID(x.id, $event)">
										<i class="fas fa-eraser"></i>
								<md-tooltip md-direction='top'>Delete Song</md-tooltip>
								</button>
								<!-- Modal Form -->
								<div class="modal fade" id="myPlay">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<h4 class="modal-title">Play Song</h4>
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
												<!-- data-dismiss="modal" -->
											</div>
											<!-- Modal body -->
											<div class="modal-body">
												<form>
													<div class="form-group">
														<label>Name:</label> <input type="text" class="form-control"
															placeholder="Name" ng-model="psong.name" disabled>
													</div>

													<div class="form-group">
														<label>Genre</label> <input type="text" class="form-control"
															placeholder="Genre" ng-model="psong.genre" disabled>
													</div>
													<label>Lyrics:</label>
													<div class="form-group">
														<textarea class="form-control" cols="30" rows="5"
															disabled>{{psong.lyrics}}</textarea>
													</div>
												</form>
											</div>

											<div class="modal-footer">
												<button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="editPlaySong(psong)">
<!-- 												 ui-sref="edit({song:psong})" ui-sref-active="active"> -->
													Edit Song
												</button>
												<button type="submit" class="btn btn-primary" data-dismiss="modal"
													ng-click="deleteSongByID(psong.id, $event)">
													Delele Song
												</button>
											</div>

										</div>
									</div>
								</div> <!-- End Modal Form -->
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
					<label for="rpp">Rows per page:</label>
					<select  class="pagination-selection"  ng-model="viewby" ng-change='changePage(viewby)' ng-options="x for x in [5,10,20,50]" id="rpp"> </select>
					<label for="rpp" class="mr-3">{{begin}}-{{end}} of {{bigTotalItems}}</label>
				<span class="pagination-sm float-right" uib-pagination total-items="bigTotalItems" ng-model="curPage" items-per-page="itemsPerPage" boundary-links="true"></span>
			</div>
		</div>
		
	</div>
</body>

</html>